@model CommonEntities.UsersModels.User


<div class="mb-3">
   
    @Html.LabelFor(m=>m.Name,new{@class="form-label"})
    @Html.TextBoxFor(m=>m.Name,new {@class="form-control"})
    @Html.ValidationMessageFor(m=>m.Name,null,new { @class="text-danger"})
</div>
<div class="mb-3">
    @Html.LabelFor(m=>m.EmailAddress,new{@class="form-label"})
    @Html.TextBoxFor(m=>m.EmailAddress,new {@class="form-control"})
    @Html.ValidationMessageFor(m=>m.EmailAddress,null,new { @class="text-danger"})
</div>
<div class="mb-3">
    @Html.LabelFor(m=>m.Gender,new{@class="form-label"})
    @Html.DropDownListFor(m=>m.Gender,new List<SelectListItem>{
    new SelectListItem{Text="Male", Value="male"},
    new SelectListItem{Text="Female", Value="female"}},
    new {@class="form-control"})
    @Html.ValidationMessageFor(m=>m.Gender)
</div>
<div class="mb-3">
    @Html.LabelFor(m=>m.Status,new{@class="form-label"})
    @Html.DropDownListFor(m=>m.Status,new List<SelectListItem>{
    new SelectListItem{Text="Active", Value="active"},
    new SelectListItem{Text="Inactive", Value="inactive"}},
    new {@class="form-control"})
    @Html.ValidationMessageFor(m=>m.Status)
</div>

